/* TK CHAT INTEGRATION */
.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--subtitle-color);
  color: var(--heading-color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.chat-icon:hover {
  background-color: var(--project-hover-color);
}

.chat-icon-symbol {
  font-size: 30px;
}

/* Light Mode Adjustments */
.light-mode .chat-icon {
  background-color: var(--light-subtitle-color);
  color: var(--light-heading-color);
}

.light-mode .chat-icon:hover {
  background-color: var(--light-project-hover-color);
}