body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0a0c10 0%, #1a1d21 100%);
  color: #e0e0e0;
  line-height: 1.6;
  overflow-x: hidden;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 40px;
  min-height: 150vh;
}

.sidebar {
  position: sticky;
  top: 40px;
  height: calc(100vh - 80px);
}

.name-highlight {
  position: relative;
}

.name-highlight::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: radial-gradient(circle, rgba(74,157,154,0.2) 0%, rgba(10,12,16,0) 70%);
  filter: blur(15px);
  z-index: -1;
}

h1, h2, h3 {
  color: #ffffff;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.subtitle {
  color: #7FACD6;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 30px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  color: #808080;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffffff;
}

.timeline {
  position: relative;
}

.timeline::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #7FACD6;
}

.timeline-item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 40px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: -24px;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #7FACD6;
}

.job-title {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.company {
  color: #7FACD6;
  font-weight: bold;
}

.title-link, .company-link {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.title-link:hover, .company-link:hover {
  cursor: pointer;
  color: #377299;
}

.date {
  color: #808080;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.skill {
  background-color: #1a1d21;
  color: #7FACD6;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.9em;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.social-icons a {
  color: #808080;
  text-decoration: none;
  font-size: 1.2em;
}

footer {
  background-color: #1a1d21;
  padding: 20px 0;
  text-align: center;
  color: #808080;
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spacer {
  margin-top: 120px;
}

/* Projects Grid */
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-item {
  position: relative;
  background-color: #1a1d21;
  color: #e0e0e0;
  border-radius: 10px;
  width: calc(50% - 20px);
  box-sizing: border-box;
  overflow: hidden;
  min-height: 250px;
}

.project-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: top left; /* Focus on the top part of the image */
  z-index: 1; /* Ensure it is visible */
}

.project-background video {
  height: 100%;
  object-fit: cover;
  background-position: top left; /* Focus on the top part of the image */
}

.project-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: opacity 0.3s;
  z-index: 2; /* Ensure content is above the background */
}

.project-item:hover .project-content {
  opacity: 1;
}

.project-content h3, .project-content p {
  margin: 0;
}

.project-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .sidebar {
    position: static;
    height: auto;
    order: -1;
  }

  .timeline::before {
    left: 5px;
  }
  .timeline-item::before {
    left: 1px;
  }

  .spacer {
    margin-top: 80px;
  }

  .projects-grid {
    flex-direction: column;
  }

  .project-item {
    width: 100%;
  }
}
